.comment-form__field {
  $lineHeight: 1.4;
  $fontSize: 16px;
  $paddingVrt: 10px;
  $lines: 4;
  $height: calc($fontSize * $lineHeight * $lines + $paddingVrt * 2);

  box-sizing: border-box;
  width: 100%;
  height: $height;
  min-height: $height;
  padding: $paddingVrt 12px;
  margin: 0;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: $fontSize;
  line-height: $lineHeight;
  border: 0;
  resize: none;
  backface-visibility: hidden;
  transform: translateZ(0);

  &:focus {
    box-shadow: 0 0 0 2px rgba(200, 51, 51, 0.4);
    border-color: #840000;
    outline: none;
  }

  &:disabled {
    color: #777;
  }
}
