.button_kind_primary {
  background: transparent;
  color: #222;
  border: 1px solid #840000;

  &:hover {
    color: #fff;
    background: #840000;
  }

  &:hover:disabled {
    color: #000;
    background: #efefef;
  }
}
